body {
    font-family: Lucida Handwriting, cursive;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

#title {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

#periodLabel {
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: inline-block;
}

#periodLabel2 {
    font-size: 48px;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    background-color: #FFA500;
    border-radius: 5px;
    display: inline-block;
}
